{% extends "layout.html" %}
{% block style %}

<style>
    body {
        margin: 100;
        padding: 100;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 4px;
        resize: none;

    }
    button {
        height: 35px; 
    }
    .container img {
        width: 70px; 
        height: auto;
        border-radius: 21px 21px 0 0;
        margin-bottom: 20px;
    }
    .container h1 {
        display: inline; 
    }
    h4{
        margin-bottom: 25px;
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <h1> Report</h1>
    <img src="https://cdn-icons-png.freepik.com/512/3534/3534063.png?fbclid=IwAR01AFGVbZ5NrYHoyrLGcik573o0UG0hoXk2gmu4aN1ixDR0-NA2GOAXsi0" alt="">
    <h4>โปรดกรอกปัญหาในการใช้งาน หรือคำแนะนำอื่นๆได้ </h4>
    <form action="/submit_report" method="post">
        <textarea name="message" rows="10" cols="50"></textarea><br><br>
        <button type="submit" value="Submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>
{% endblock %}
